{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block main %}
  <main class="container mt-3">
    <div class="d-flex justify-content-center">
      <h3>Просто искать. Просто продвигать.</h3>
    </div>
    <div class="center-block row d-flex justify-content-center">
      <div class="w-50 p-3">
          <h4>Получи больше миллиона прослушиваний своего трека в TikTok</h4>
        </div>
    </div>

    <div class="center-block row d-flex justify-content-center">
      <form action="" method="post" class="w-50 p-3">
        {% csrf_token %}
        <table class="table table-hover">
          {{ form|crispy }}
        </table>
        <input type="submit" class="btn btn-lg btn-outline-primary btn-block" value="Найти"/>
      </form>
    </div>
  </main>
{% endblock %}
