{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block main %}
  <main class="container mt-3">
    <div class="center-block row d-flex justify-content-center">
      <div class="p-3">
        <h4>Все предложения</h4>
      </div>
    </div>

    <table class="table">
      <tr>
        <th scope="col">CustomUser id</th>
        <th scope="col">CustomUser name</th>
        <th scope="col">Price</th>
      </tr>
      {% for offer in offers %}
        <tr>
          <td class="c1">{{ offer.user.id }}</td>
          <td class="c1">{{ offer.user.get_full_name }}</td>
          <td class="c1">{{ offer.price }}</td>
        </tr>
      {% endfor %}
    </table>
  </main>
{% endblock %}
