{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{ APP_NAME }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>
  <style>
    .asteriskField {
      display: none;
    }
  </style>
</head>

<body>
<header class="container mt-4">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="{% url 'home' %}"><img class="d-inline-block align-text-top m-2" src="{% static 'images/logo.png' %}"
                                    height="50" width="50"></a>
    <a class="navbar-brand" href="{% url 'home' %}">{{ APP_NAME }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link disabled" href="#">Музыкантам</a>
        <a class="nav-item nav-link disabled" href="#">Оставить заявку</a>
        {% if not user.is_authenticated %}
          <a class="nav-item nav-link" href="{% url 'login' %}">Вход</a>
        {% else %}
          <a class="nav-item nav-link" href="{% url 'profile' %}">Аккаунт</a>
          <a class="nav-item nav-link" href="{% url 'logout' %}">Выход</a>
        {% endif %}
      </div>
    </div>
  </nav>
</header>

{% block main %}
{% endblock %}

<footer>
  <div class="text-center">© therealyou 2022</div>
</footer>
</body>
</html>
